@model hack24.web.Resources.ProfileListResource

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>By Tag - @Model.Tag</h2>
@foreach (var p in Model.Profiles) {

	<div>
		<img class="profile-image-small" src="@Url.Content("~/Content/images/profile/" + p.ProfileImage + ".jpg")" />
		<b><a style="color: #2aa696;" href="@Url.Action("View", "Profile", new { p.Id })">@p.FirstName @p.LastName</a></b> - @p.JobTitle
	</div>
	<hr/>
}