@using hack24.web.Resources
@model ProfileResource
@{
	ViewBag.Title = "Profile";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="profile-image" src="~/Content/images/profile/barry.jpg"/>

<h2>@Model.Primary.FirstName @Model.Primary.LastName</h2>


<h3>Name</h3>
<p</p>
<h3>Job Title</h3>
<p>@Model.Primary.JobTitle</p>
<h3>Bio</h3>
<p>@Model.Primary.Bio</p>

<h3>Tags</h3>
<div class="col-xs-12">
	@foreach (var tag in Model.Primary.Tags) {
		<div class="skill-tag">@tag.DisplayName</div>
	}
</div>

<hr/>
@if (Model.Alternatives.Any()) {
	<div class="alternatives">
		<div class="row">
			@foreach (var alt in Model.Alternatives) {
				<div class="col-xs-6">
					<img class="profile-image" src="~/Content/images/profile/smug.jpg"/>
					@alt.FirstName @alt.LastName
				</div>
			}
		</div>
	</div>
}