@model hack24.web.Resources.DiscoverIndexResource

@{
	ViewBag.Title = "Discover";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="person-types-container">
	<h2>Discover</h2>
	<p>I'm looking for a...</p>
	<div class="row">
		@foreach (var tag in Model.PersonTypes)
		{
			<div class="col-xs-6">
				<div class="icon-tag" data-tag-id="@tag.Id">
					<img src="@("Content/images/" + tag.Name + ".png")" />
					<p>@tag.DisplayName</p> 
				</div>
			</div>
		}
	</div>
</div>

<div class="skills-container">
	<p>Who is..</p>
	@foreach (var tag in Model.Skills)
	{
		<div class="skill-tag" data-tag-id="@tag.Id">@tag.Prefix @tag.DisplayName</div>
	}

	<div class="col-xs-12">
		<div class="submit-search">
			Submit 
		</div>
	</div>
</div>


@section scripts {
	<script>
		$(function() {
			$(".skill-tag").on("click", function(e) {
				$(this).addClass("skill-tag-selected");
			});

			$(".icon-tag").on("click", function() {
				$("body").data("person-tag-id", $(this).data("tag-id"));

				$(".person-types-container").fadeOut(500, function() {
					$(".skills-container").fadeIn(500);
				});
			});

			$(".submit-search").on("click", function() {
				var skillsSelected = $(".skill-tag-selected").map(function() {
					return $(this).data("tag-id");
				})
				.get();

				skillsSelected.push($("body").data("person-tag-id"));

				skillsSelected = skillsSelected.join("|");

				$.post("/profile/suggested", skillsSelected);
			});
		});
	</script>
}